.link {
  color: #ccc;
  text-decoration: none;
  margin-right: 15px;
}

.link:hover {
  color: white;
}

.brand {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.brand:hover {
  color: white;
}
